In [158]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder, StandardScaler
from category_encoders import TargetEncoder

In [159]:
data = pd.read_csv("../data/clean combined.csv")

In [160]:
jobs = pd.read_csv("../data/clean combined.csv")
jobs = jobs.drop(columns = ['Sex', 'Contract Type'])
jobs.head()

,Salary,Level,Year of Experience,Programming Language,Language,Lang,Location
0,20500000.0,Nhân viên,2 năm,java,tiếng anh,vi,Hà Nội
1,36500000.0,Nhân viên,2 năm,Khác,tiếng anh,en,Hồ Chí Minh
2,22500000.0,Trưởng/Phó phòng,2 năm,Khác,Không yêu cầu,vi,Hà Nội
3,22500000.0,Trưởng nhóm,3 năm,Khác,Không yêu cầu,vi,Hà Nội
4,30000000.0,Nhân viên,3 năm,php,Không yêu cầu,vi,Hà Nội

In [161]:
# Áp dụng Log Transformation
jobs['Salary'] = np.log(jobs['Salary'])

# Chuẩn hóa phân phối chuẩn cho biến Salary_log
scaler = StandardScaler()
jobs['Salary'] = scaler.fit_transform(jobs[['Salary']])

In [162]:
encoder = OrdinalEncoder(categories=[['Thực tập sinh', 'Nhân viên', 'Trưởng nhóm', 'Trưởng/Phó phòng', 'Quản lý / Giám sát', 'Giám đốc']])
encoded_level = encoder.fit_transform(jobs[['Level']])
jobs['Level'] = encoded_level

In [163]:
encoder = OrdinalEncoder(categories=[['Không yêu cầu kinh nghiệm', 'Dưới 1 năm', '1 năm', '2 năm', '3 năm', '4 năm', '5 năm', 'Trên 5 năm']])
encoded_YoE = encoder.fit_transform(jobs[['Year of Experience']])
jobs['Year of Experience'] = encoded_YoE

In [164]:
# encoder = TargetEncoder()
# encoded_pl = encoder.fit_transform(jobs['Programming Language'], jobs['Salary'])
# jobs['Programming Language'] = encoded_pl

In [165]:
# encoder = TargetEncoder()
# encoded_language = encoder.fit_transform(jobs['Language'], jobs['Salary'])
# jobs['Language'] = encoded_language

In [166]:
# encoder = TargetEncoder()
# encoded_location = encoder.fit_transform(jobs['Location'], jobs['Salary'])
# jobs['Location'] = encoded_location

In [167]:
jobs.head()

,Salary,Level,Year of Experience,Programming Language,Language,Lang,Location
0,0.384547,1.0,3.0,java,tiếng anh,vi,Hà Nội
1,1.282103,1.0,3.0,Khác,tiếng anh,en,Hồ Chí Minh
2,0.529383,3.0,3.0,Khác,Không yêu cầu,vi,Hà Nội
3,0.529383,2.0,4.0,Khác,Không yêu cầu,vi,Hà Nội
4,0.976976,1.0,4.0,php,Không yêu cầu,vi,Hà Nội

In [168]:
df = jobs.drop(columns=["Salary"])

In [169]:
df.head()

,Level,Year of Experience,Programming Language,Language,Lang,Location
0,1.0,3.0,java,tiếng anh,vi,Hà Nội
1,1.0,3.0,Khác,tiếng anh,en,Hồ Chí Minh
2,3.0,3.0,Khác,Không yêu cầu,vi,Hà Nội
3,2.0,4.0,Khác,Không yêu cầu,vi,Hà Nội
4,1.0,4.0,php,Không yêu cầu,vi,Hà Nội

In [170]:
df.to_csv("../data/lca full 2.csv", index=False)

In [139]:
encoder = OrdinalEncoder(categories=[['vi', 'en']])
encoded_lang = encoder.fit_transform(jobs[['Lang']])
jobs['Lang'] = encoded_lang

In [140]:
jobs.head()

,Salary,Level,Year of Experience,Programming Language,Language,Lang,Location
0,0.384547,1.0,3.0,0.523289,-0.075127,0.0,0.042149
1,1.282103,1.0,3.0,-0.231351,-0.075127,1.0,-0.054184
2,0.529383,3.0,3.0,-0.231351,0.017127,0.0,0.042149
3,0.529383,2.0,4.0,-0.231351,0.017127,0.0,0.042149
4,0.976976,1.0,4.0,-0.073021,0.017127,0.0,0.042149

In [141]:
jobs = jobs.drop(columns=["Salary"])

In [142]:
jobs.to_csv("../data/data for clustering.csv", index=False)

In [144]:
jobs['Programming Language'].value_counts()

Programming Language
-0.231351    2848
-0.116742     523
 0.523289     491
 0.470960     292
 0.569897     191
-0.073021     173
 0.414759     173
 0.610924     112
 0.428202      85
 0.651366      75
 0.096383      10
Name: count, dtype: int64