In [55]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder, StandardScaler

In [56]:
jobs = pd.read_csv("../data/clean_data_train.csv")

In [57]:
jobs = jobs.drop(columns = ['Sex', 'Contract Type'])
jobs.head()

,Salary,Level,Year of Experience,Programming Language,Requirement Language,Description Language,Location
0,20500000.0,Nhân viên,2 năm,java,tiếng anh,vi,Hà Nội
1,36500000.0,Nhân viên,2 năm,Khác,tiếng anh,en,Hồ Chí Minh
2,22500000.0,Trưởng/Phó phòng,2 năm,Khác,Không yêu cầu,vi,Hà Nội
3,22500000.0,Trưởng nhóm,3 năm,Khác,Không yêu cầu,vi,Hà Nội
4,30000000.0,Nhân viên,3 năm,javascript,Không yêu cầu,vi,Hà Nội

In [58]:
# Áp dụng Log Transformation
jobs['Salary'] = np.log(jobs['Salary'])

# Chuẩn hóa phân phối chuẩn cho biến Salary_log
scaler = StandardScaler()
jobs['Salary'] = scaler.fit_transform(jobs[['Salary']])

In [59]:
encoder = OrdinalEncoder(categories=[['Thực tập sinh', 'Nhân viên', 'Trưởng nhóm', 'Trưởng/Phó phòng', 'Quản lý / Giám sát', 'Giám đốc']])
encoded_level = encoder.fit_transform(jobs[['Level']])
jobs['Level'] = encoded_level

In [60]:
encoder = OrdinalEncoder(categories=[['Không yêu cầu kinh nghiệm', 'Dưới 1 năm', '1 năm', '2 năm', '3 năm', '4 năm', '5 năm', 'Trên 5 năm']])
encoded_YoE = encoder.fit_transform(jobs[['Year of Experience']])
jobs['Year of Experience'] = encoded_YoE

In [61]:
jobs.head()

,Salary,Level,Year of Experience,Programming Language,Requirement Language,Description Language,Location
0,0.384547,1.0,3.0,java,tiếng anh,vi,Hà Nội
1,1.282103,1.0,3.0,Khác,tiếng anh,en,Hồ Chí Minh
2,0.529383,3.0,3.0,Khác,Không yêu cầu,vi,Hà Nội
3,0.529383,2.0,4.0,Khác,Không yêu cầu,vi,Hà Nội
4,0.976976,1.0,4.0,javascript,Không yêu cầu,vi,Hà Nội

In [62]:
df = jobs.drop(columns=["Salary"])

In [63]:
df.head()

,Level,Year of Experience,Programming Language,Requirement Language,Description Language,Location
0,1.0,3.0,java,tiếng anh,vi,Hà Nội
1,1.0,3.0,Khác,tiếng anh,en,Hồ Chí Minh
2,3.0,3.0,Khác,Không yêu cầu,vi,Hà Nội
3,2.0,4.0,Khác,Không yêu cầu,vi,Hà Nội
4,1.0,4.0,javascript,Không yêu cầu,vi,Hà Nội

In [64]:
df.to_csv("../data/clean_data_for_lca.csv", index=False)