In [1]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
from category_encoders import OneHotEncoder
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
import xgboost as xgb
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split, GridSearchCV, KFold, cross_val_score
from sklearn.feature_selection import RFE
from tabulate import tabulate
import json
import numpy as np

# Encode

- Read data

In [2]:
jobs = pd.read_csv("../data/clean data update.csv")
jobs.head()

,Size company,Salary,Level,Year of Experience,Contract Type,Sex,Programming Language,Language,Location
0,100-499,12500000.0,Nhân viên,1 năm,Toàn thời gian,Không yêu cầu,Khác,Không yêu cầu,Hà Nội
1,10-24,7500000.0,Nhân viên,Không yêu cầu kinh nghiệm,Toàn thời gian,Không yêu cầu,Khác,Không yêu cầu,Hà Nội
2,10-24,15000000.0,Nhân viên,1 năm,Toàn thời gian,Không yêu cầu,Khác,tiếng anh,Hồ Chí Minh
3,100-499,23500000.0,Nhân viên,5 năm,Toàn thời gian,Không yêu cầu,Khác,Không yêu cầu,Hà Nội
4,25-99,20000000.0,Nhân viên,1 năm,Toàn thời gian,Không yêu cầu,Khác,tiếng nhật,Hà Nội

- Drop Sex, Contract Type

In [3]:
jobs = jobs.drop(columns = ['Sex', 'Contract Type'])
jobs.head()

,Size company,Salary,Level,Year of Experience,Programming Language,Language,Location
0,100-499,12500000.0,Nhân viên,1 năm,Khác,Không yêu cầu,Hà Nội
1,10-24,7500000.0,Nhân viên,Không yêu cầu kinh nghiệm,Khác,Không yêu cầu,Hà Nội
2,10-24,15000000.0,Nhân viên,1 năm,Khác,tiếng anh,Hồ Chí Minh
3,100-499,23500000.0,Nhân viên,5 năm,Khác,Không yêu cầu,Hà Nội
4,25-99,20000000.0,Nhân viên,1 năm,Khác,tiếng nhật,Hà Nội

- Categorical encoding for Size Company variable

In [4]:
jobs['Size company'].unique()

array(['100-499', '10-24', '25-99', '1-9', '1000+', '500-1000', '5000+',
       '3000+', '10000+'], dtype=object)

In [5]:
encoder = OrdinalEncoder(categories=[['1-9', '10-24', '25-99', '100-499', '500-1000', '1000+', '3000+', '5000+', '10000+']])
encoded_level = encoder.fit_transform(jobs[['Size company']])
jobs['Size company'] = encoded_level
jobs.head()

,Size company,Salary,Level,Year of Experience,Programming Language,Language,Location
0,3.0,12500000.0,Nhân viên,1 năm,Khác,Không yêu cầu,Hà Nội
1,1.0,7500000.0,Nhân viên,Không yêu cầu kinh nghiệm,Khác,Không yêu cầu,Hà Nội
2,1.0,15000000.0,Nhân viên,1 năm,Khác,tiếng anh,Hồ Chí Minh
3,3.0,23500000.0,Nhân viên,5 năm,Khác,Không yêu cầu,Hà Nội
4,2.0,20000000.0,Nhân viên,1 năm,Khác,tiếng nhật,Hà Nội

- Categorical encoding for Level variable

In [6]:
jobs['Level'].unique()

array(['Nhân viên', 'Thực tập sinh', 'Trưởng nhóm', 'Trưởng/Phó phòng',
       'Quản lý / Giám sát', 'Giám đốc'], dtype=object)

In [7]:

encoder = OrdinalEncoder(categories=[['Thực tập sinh', 'Nhân viên', 'Trưởng nhóm', 'Trưởng/Phó phòng', 'Quản lý / Giám sát', 'Giám đốc']])
encoded_level = encoder.fit_transform(jobs[['Level']])
jobs['Level'] = encoded_level
jobs.head()

,Size company,Salary,Level,Year of Experience,Programming Language,Language,Location
0,3.0,12500000.0,1.0,1 năm,Khác,Không yêu cầu,Hà Nội
1,1.0,7500000.0,1.0,Không yêu cầu kinh nghiệm,Khác,Không yêu cầu,Hà Nội
2,1.0,15000000.0,1.0,1 năm,Khác,tiếng anh,Hồ Chí Minh
3,3.0,23500000.0,1.0,5 năm,Khác,Không yêu cầu,Hà Nội
4,2.0,20000000.0,1.0,1 năm,Khác,tiếng nhật,Hà Nội

- Categorical encoding for Year of Experience variable

In [8]:
jobs['Year of Experience'].unique()

array(['1 năm', 'Không yêu cầu kinh nghiệm', '5 năm', '3 năm', '2 năm',
       'Dưới 1 năm', '4 năm', 'Trên 5 năm'], dtype=object)

In [9]:
encoder = OrdinalEncoder(categories=[['Không yêu cầu kinh nghiệm', 'Dưới 1 năm', '1 năm', '2 năm', '3 năm', '4 năm', '5 năm', 'Trên 5 năm']])
encoded_level = encoder.fit_transform(jobs[['Year of Experience']])
jobs['Year of Experience'] = encoded_level
jobs.head()

,Size company,Salary,Level,Year of Experience,Programming Language,Language,Location
0,3.0,12500000.0,1.0,2.0,Khác,Không yêu cầu,Hà Nội
1,1.0,7500000.0,1.0,0.0,Khác,Không yêu cầu,Hà Nội
2,1.0,15000000.0,1.0,2.0,Khác,tiếng anh,Hồ Chí Minh
3,3.0,23500000.0,1.0,6.0,Khác,Không yêu cầu,Hà Nội
4,2.0,20000000.0,1.0,2.0,Khác,tiếng nhật,Hà Nội

- Categorical encoding for Language variable

In [10]:
one_hot_encoder = OneHotEncoder()
job_pl = one_hot_encoder.fit_transform(jobs['Language'])

jobs = pd.concat([jobs, job_pl], axis=1)
jobs = jobs.drop(columns = ['Language'])
jobs.head()

,Size company,Salary,Level,Year of Experience,Programming Language,Location,Language_1,Language_2,Language_3
0,3.0,12500000.0,1.0,2.0,Khác,Hà Nội,1,0,0
1,1.0,7500000.0,1.0,0.0,Khác,Hà Nội,1,0,0
2,1.0,15000000.0,1.0,2.0,Khác,Hồ Chí Minh,0,1,0
3,3.0,23500000.0,1.0,6.0,Khác,Hà Nội,1,0,0
4,2.0,20000000.0,1.0,2.0,Khác,Hà Nội,0,0,1

- Categorical encoding for Location variable

In [11]:
one_hot_encoder = OneHotEncoder()
job_pl = one_hot_encoder.fit_transform(jobs['Location'])

jobs = pd.concat([jobs, job_pl], axis=1)
jobs = jobs.drop(columns = ['Location'])
jobs.head()

,Size company,Salary,Level,Year of Experience,Programming Language,Language_1,Language_2,Language_3,Location_1,Location_2,Location_3,Location_4
0,3.0,12500000.0,1.0,2.0,Khác,1,0,0,1,0,0,0
1,1.0,7500000.0,1.0,0.0,Khác,1,0,0,1,0,0,0
2,1.0,15000000.0,1.0,2.0,Khác,0,1,0,0,1,0,0
3,3.0,23500000.0,1.0,6.0,Khác,1,0,0,1,0,0,0
4,2.0,20000000.0,1.0,2.0,Khác,0,0,1,1,0,0,0

- Categorical encoding for Programming Language variable

In [12]:
one_hot_encoder = OneHotEncoder()
job_pl = one_hot_encoder.fit_transform(jobs['Programming Language'])

jobs = pd.concat([jobs, job_pl], axis=1)
jobs = jobs.drop(columns = ['Programming Language'])
jobs

,Size company,Salary,Level,Year of Experience,Language_1,Language_2,Language_3,Location_1,Location_2,Location_3,...,Programming Language_2,Programming Language_3,Programming Language_4,Programming Language_5,Programming Language_6,Programming Language_7,Programming Language_8,Programming Language_9,Programming Language_10,Programming Language_11
0,3.0,12500000.0,1.0,2.0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1.0,7500000.0,1.0,0.0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1.0,15000000.0,1.0,2.0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,3.0,23500000.0,1.0,6.0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2.0,20000000.0,1.0,2.0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1.0,14000000.0,1.0,0.0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1996,3.0,11000000.0,1.0,0.0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1997,5.0,18500000.0,1.0,3.0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1998,5.0,26000000.0,1.0,4.0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1999,2.0,12000000.0,1.0,4.0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0

# Correlation with target variable

In [13]:
import pandas as pd

# Tính toán ma trận tương quan
correlation_matrix = jobs.corr()

# Hiển thị tương quan của từng đặc trưng với biến mục tiêu
target_correlation = correlation_matrix['Salary']
print(target_correlation)

Size company               0.045915
Salary                     1.000000
Level                      0.367753
Year of Experience         0.628204
Language_1                -0.095755
Language_2                 0.068342
Language_3                 0.071236
Location_1                 0.068944
Location_2                -0.043572
Location_3                -0.062800
Location_4                 0.016009
Programming Language_1    -0.256153
Programming Language_2     0.119640
Programming Language_3     0.124011
Programming Language_4     0.019746
Programming Language_5     0.052727
Programming Language_6     0.025064
Programming Language_7     0.057914
Programming Language_8     0.022986
Programming Language_9     0.131741
Programming Language_10    0.035357
Programming Language_11    0.032421
Name: Salary, dtype: float64

- List Models

In [14]:
models = {
    'LinearRegression': LinearRegression(),
    'Ridge': Ridge(),
    'Lasso': Lasso(),
    'GradientBoostingRegressor': GradientBoostingRegressor(),
    'RandomForestRegressor': RandomForestRegressor(),
    'DecisionTreeRegressor': DecisionTreeRegressor(),
    'SVR': SVR(),
    'XGB': xgb.XGBRegressor()
}

In [15]:
X = jobs.drop(columns = ['Salary'])
y = jobs['Salary']

In [16]:
import numpy as np
from sklearn.model_selection import cross_val_score, KFold

# Khởi tạo KFold để kiểm định chéo
kf = KFold(n_splits=5, shuffle=True, random_state=42)

results = []

for name, model in models.items():
    # Đánh giá mô hình sử dụng cross-validation và r2 làm thước đo
    scores = cross_val_score(model, X, y, cv=kf, scoring='r2')
    # Tính R² trung bình
    mean_r2 = np.mean(scores)
    results.append((name, mean_r2))

# Sắp xếp kết quả theo R² Score từ cao xuống thấp
results_df = pd.DataFrame(results, columns=['Model', 'R2 Score']).sort_values(by='R2 Score', ascending=False)

# In kết quả
print(results_df)

# Lấy tên của mô hình có điểm số R² cao nhất
model_best = results_df['Model'].iloc[0]
print("Best performing model:", model_best)

c:\Users\Mai Xuan Truong\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.161e+14, tolerance: 1.522e+13
  model = cd_fast.enet_coordinate_descent(
c:\Users\Mai Xuan Truong\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 7.581e+15, tolerance: 1.499e+13
  model = cd_fast.enet_coordinate_descent(
c:\Users\Mai Xuan Truong\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 7.197e+15, tolerance: 1.475e+13
  model = cd_fast.enet_coordinate_descent(
c:\Users\Mai Xuan Truong\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.158e+14, tolerance: 1.473e+13
  model = cd_fast.enet_coordinate_descent(
c:\Users\Mai Xuan Truong\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.212e+14, tolerance: 1.462e+13
  model = cd_fast.enet_coordinate_descent(

                       Model  R2 Score
3  GradientBoostingRegressor  0.538490
4      RandomForestRegressor  0.480203
7                        XGB  0.476566
1                      Ridge  0.456375
0           LinearRegression  0.456156
2                      Lasso  0.456112
5      DecisionTreeRegressor  0.391796
6                        SVR -0.028289
Best performing model: GradientBoostingRegressor

# Feature Selection

In [17]:

# Khởi tạo KFold để kiểm định chéo
kf = KFold(n_splits=5, shuffle=True, random_state=42)

results = []
# Định nghĩa mô hình
model = models[model_best]

# Lặp qua số lượng đặc trưng từ 2 đến số lượng đặc trưng tối đa
for i in range(2, len(X.columns) + 1):
    # Thiết lập RFE với số đặc trưng hiện tại
    selector = RFE(model, n_features_to_select=i, step=1)
    selector.fit(X, y)  # Lưu ý là sử dụng toàn bộ dữ liệu X, y
    
    # Đặc trưng được chọn
    selected_features = X.columns[selector.support_]
    
    # Tạo tập dữ liệu chỉ với các đặc trưng được chọn
    X_selected = selector.transform(X)
    
    # Đánh giá mô hình sử dụng cross-validation
    scores = cross_val_score(model, X_selected, y, cv=kf, scoring='r2')
    
    # Tính R² Score trung bình
    mean_r2 = np.mean(scores)
    
    # Lưu kết quả
    results.append((i, selected_features.tolist(), mean_r2))

# Chuyển kết quả vào DataFrame và sắp xếp theo R²
results_df = pd.DataFrame(results, columns=['Num Features', 'Features', 'R2 Score'])
results_df = results_df.sort_values(by='R2 Score', ascending=False)

# In kết quả
print(results_df)

# Lưu các đặc trưng quan trọng nhất từ mô hình tốt nhất
variable_important = results_df.iloc[0, 1]
print("Most important features:", variable_important)

    Num Features                                           Features  R2 Score
15            17  [Size company, Level, Year of Experience, Lang...  0.539590
16            18  [Size company, Level, Year of Experience, Lang...  0.539532
9             11  [Size company, Level, Year of Experience, Lang...  0.539523
17            19  [Size company, Level, Year of Experience, Lang...  0.539384
18            20  [Size company, Level, Year of Experience, Lang...  0.539262
14            16  [Size company, Level, Year of Experience, Lang...  0.538707
19            21  [Size company, Level, Year of Experience, Lang...  0.538567
8             10  [Size company, Level, Year of Experience, Lang...  0.538486
13            15  [Size company, Level, Year of Experience, Lang...  0.538248
5              7  [Size company, Level, Year of Experience, Lang...  0.538126
10            12  [Size company, Level, Year of Experience, Lang...  0.538122
12            14  [Size company, Level, Year of Experience, Lang...  0.537806
7              9  [Size company, Level, Year of Experience, Lang...  0.537749
6              8  [Size company, Level, Year of Experience, Lang...  0.535933
11            13  [Size company, Level, Year of Experience, Lang...  0.535778
4              6  [Size company, Level, Year of Experience, Lang...  0.532373
3              5  [Size company, Level, Year of Experience, Lang...  0.529834
2              4  [Size company, Level, Year of Experience, Prog...  0.518791
1              3  [Level, Year of Experience, Programming Langua...  0.497281
0              2                        [Level, Year of Experience]  0.469527
Most important features: ['Size company', 'Level', 'Year of Experience', 'Language_1', 'Language_2', 'Language_3', 'Location_1', 'Location_2', 'Location_3', 'Location_4', 'Programming Language_1', 'Programming Language_2', 'Programming Language_4', 'Programming Language_7', 'Programming Language_8', 'Programming Language_9', 'Programming Language_10']

# Training

- List Models and Parameter

In [18]:
# Danh sách các mô hình và tham số tương ứng
models = {
    'RandomForestRegressor': (RandomForestRegressor(), {
        'n_estimators': [100, 200, 500],
        'max_depth': [None, 10, 20],
        'min_samples_split': [2, 5, 10],
        'min_samples_leaf': [1, 2, 4],
        'max_features': ['auto', 'sqrt']
    }),
    'XGBRegressor': (xgb.XGBRegressor(), {
        'n_estimators': [100, 200, 500],
        'max_depth': [3, 5, 10],
        'learning_rate': [0.01, 0.1, 0.2],
        'subsample': [0.8, 1.0],
        'colsample_bytree': [0.8, 1.0],
        'gamma': [0, 0.1, 0.2]
    }),
    'GradientBoostingRegressor': (GradientBoostingRegressor(), {
        'n_estimators': [100, 200, 500],
        'max_depth': [3, 5, 10],
        'min_samples_split': [2, 5, 10],
        'min_samples_leaf': [1, 2, 4],
        'max_features': ['auto', 'sqrt'],
        'learning_rate': [0.01, 0.1, 0.2]
    }),
    'DecisionTreeRegressor': (DecisionTreeRegressor(), {
        'max_depth': [None, 10, 20],
        'min_samples_split': [2, 5, 10],
        'min_samples_leaf': [1, 2, 4],
        'max_features': ['auto', 'sqrt']
    }),
    'Ridge': (Ridge(), {
        'alpha': [0.1, 1.0, 10.0]
    }),
    'Lasso': (Lasso(), {
        'alpha': [0.1, 1.0, 10.0]
    }),
    'LinearRegression': (LinearRegression(), {}),
    'SVR': (SVR(), {
        'kernel': ['linear', 'poly', 'rbf', 'sigmoid'],
        'C': [0.1, 1.0, 10.0],
        'epsilon': [0.1, 0.2, 0.5],
        'gamma': ['scale', 'auto']
    })
}

In [19]:

# Phân chia tập dữ liệu
X = jobs[variable_important]
y = jobs['Salary']

# Kết quả lưu tham số tốt nhất
best_params = {}

KFold = KFold(n_splits=5, shuffle=True, random_state=42)

# Đào tạo và điều chỉnh mô hình cho từng loại
for model_name, (model, params) in models.items():
    print(f"Training {model_name}...")
    
    # Thiết lập Grid Search với kiểm định chéo
    grid_search = GridSearchCV(estimator=model, param_grid=params, cv=KFold, scoring='neg_mean_squared_error', verbose=1)
    grid_search.fit(X, y)
    
    # Lưu tham số tốt nhất
    best_params[model_name] = grid_search.best_params_
    print(f"Best parameters for {model_name}: {grid_search.best_params_}")

# Ghi kết quả vào file JSON
with open('best_params_update.json', 'w') as fp:
    json.dump(best_params, fp)

print("All best parameters have been saved to 'best_params.json'.")

Training RandomForestRegressor...
Fitting 5 folds for each of 162 candidates, totalling 810 fits

c:\Users\Mai Xuan Truong\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\model_selection\_validation.py:547: FitFailedWarning:
405 fits failed out of a total of 810.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
405 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Users\Mai Xuan Truong\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\model_selection\_validation.py", line 895, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Users\Mai Xuan Truong\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py", line 1467, in wrapper
    estimator._validate_params()
  File "c:\Users\Mai Xuan Truong\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "c:\Users\Mai Xuan Truong\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
c:\Users\Mai Xuan Truong\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\model_selection\_search.py:1051: UserWarning: One or more of the test scores are non-finite: [            nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan -4.76759635e+13
 -4.76025354e+13 -4.74901428e+13 -4.52920408e+13 -4.52983170e+13
 -4.52245343e+13 -4.39557146e+13 -4.38613238e+13 -4.37016851e+13
 -4.35969142e+13 -4.35329478e+13 -4.35249517e+13 -4.35863118e+13
 -4.36570510e+13 -4.34983674e+13 -4.34235968e+13 -4.33858712e+13
 -4.33702485e+13 -4.40430782e+13 -4.39514548e+13 -4.38474136e+13
 -4.40269994e+13 -4.38464752e+13 -4.39066821e+13 -4.40846705e+13
 -4.40172699e+13 -4.38125452e+13             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan -4.34669909e+13 -4.35209233e+13 -4.35775810e+13
 -4.34512967e+13 -4.34952236e+13 -4.34415726e+13 -4.34165228e+13
 -4.34773618e+13 -4.34351800e+13 -4.36248720e+13 -4.36396289e+13
 -4.33223349e+13 -4.37773561e+13 -4.35408745e+13 -4.34830439e+13
 -4.40042821e+13 -4.36211705e+13 -4.36007303e+13 -4.41179248e+13
 -4.42850136e+13 -4.41883997e+13 -4.43299009e+13 -4.42726642e+13
 -4.42148165e+13 -4.44532392e+13 -4.41700909e+13 -4.41984122e+13
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan -4.78409422e+13
 -4.77320297e+13 -4.76559029e+13 -4.54364023e+13 -4.52055904e+13
 -4.52762237e+13 -4.39852033e+13 -4.36463246e+13 -4.37000892e+13
 -4.33439365e+13 -4.33662538e+13 -4.35384813e+13 -4.37618343e+13
 -4.35807335e+13 -4.34316346e+13 -4.35276266e+13 -4.34158509e+13
 -4.33843886e+13 -4.38435147e+13 -4.39557192e+13 -4.39512409e+13
 -4.40566542e+13 -4.39339681e+13 -4.38137211e+13 -4.38147875e+13
 -4.39031841e+13 -4.39164341e+13]
  warnings.warn(

Best parameters for RandomForestRegressor: {'max_depth': 10, 'max_features': 'sqrt', 'min_samples_leaf': 2, 'min_samples_split': 2, 'n_estimators': 500}
Training XGBRegressor...
Fitting 5 folds for each of 324 candidates, totalling 1620 fits
Best parameters for XGBRegressor: {'colsample_bytree': 1.0, 'gamma': 0, 'learning_rate': 0.01, 'max_depth': 5, 'n_estimators': 500, 'subsample': 0.8}
Training GradientBoostingRegressor...
Fitting 5 folds for each of 486 candidates, totalling 2430 fits

c:\Users\Mai Xuan Truong\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\model_selection\_validation.py:547: FitFailedWarning:
1215 fits failed out of a total of 2430.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
1215 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Users\Mai Xuan Truong\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\model_selection\_validation.py", line 895, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Users\Mai Xuan Truong\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py", line 1467, in wrapper
    estimator._validate_params()
  File "c:\Users\Mai Xuan Truong\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "c:\Users\Mai Xuan Truong\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of GradientBoostingRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
c:\Users\Mai Xuan Truong\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\model_selection\_search.py:1051: UserWarning: One or more of the test scores are non-finite: [            nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan -6.23230671e+13
 -5.05866801e+13 -4.42238642e+13 -6.19397160e+13 -5.08568646e+13
 -4.42596360e+13 -6.21151646e+13 -5.09219961e+13 -4.42629231e+13
 -6.18470268e+13 -5.09371189e+13 -4.41833809e+13 -6.15793275e+13
 -5.08961869e+13 -4.42460868e+13 -6.18059167e+13 -5.05757050e+13
 -4.42362319e+13 -6.14774922e+13 -5.08270001e+13 -4.43783573e+13
 -6.22350410e+13 -5.09473016e+13 -4.42658655e+13 -6.19168897e+13
 -5.09103467e+13 -4.43332280e+13             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan -5.60567830e+13 -4.67305572e+13 -4.26776286e+13
 -5.57677895e+13 -4.66035630e+13 -4.27719573e+13 -5.59650680e+13
 -4.66928245e+13 -4.26145410e+13 -5.59748725e+13 -4.66416795e+13
 -4.25987322e+13 -5.56449535e+13 -4.65149062e+13 -4.25181382e+13
 -5.58976282e+13 -4.67756600e+13 -4.26170683e+13 -5.61244413e+13
 -4.67396670e+13 -4.28392210e+13 -5.60380487e+13 -4.68551944e+13
 -4.26477995e+13 -5.59065246e+13 -4.67066524e+13 -4.27788045e+13
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan -5.06298289e+13
 -4.55100733e+13 -4.74761983e+13 -5.03904227e+13 -4.48849061e+13
 -4.60599208e+13 -5.02301655e+13 -4.42390098e+13 -4.49181348e+13
 -5.03715200e+13 -4.39244889e+13 -4.40627583e+13 -5.05146052e+13
 -4.39495434e+13 -4.39157183e+13 -5.04708730e+13 -4.36513239e+13
 -4.34452371e+13 -5.10433689e+13 -4.39985629e+13 -4.29209337e+13
 -5.09961183e+13 -4.38782932e+13 -4.27883769e+13 -5.10747042e+13
 -4.37553168e+13 -4.27983708e+13             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan -4.28524560e+13 -4.25272227e+13 -4.29469401e+13
 -4.31141794e+13 -4.25002761e+13 -4.31244187e+13 -4.30609785e+13
 -4.24702562e+13 -4.31364098e+13 -4.29876432e+13 -4.23329701e+13
 -4.25409519e+13 -4.28277679e+13 -4.24029504e+13 -4.28664993e+13
 -4.31239474e+13 -4.26336832e+13 -4.28253131e+13 -4.27992585e+13
 -4.28066019e+13 -4.27192200e+13 -4.32141381e+13 -4.26874533e+13
 -4.27599673e+13 -4.35181005e+13 -4.26397306e+13 -4.30570457e+13
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan -4.25463974e+13
 -4.38131088e+13 -4.72796918e+13 -4.27633360e+13 -4.34556385e+13
 -4.66790150e+13 -4.24645877e+13 -4.30844714e+13 -4.55086114e+13
 -4.22540283e+13 -4.28877710e+13 -4.47073495e+13 -4.21874118e+13
 -4.26612525e+13 -4.48324080e+13 -4.23485764e+13 -4.26818398e+13
 -4.48006772e+13 -4.22459399e+13 -4.29362281e+13 -4.42506473e+13
 -4.22995791e+13 -4.26348539e+13 -4.38534898e+13 -4.22742502e+13
 -4.24746703e+13 -4.41815373e+13             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan -5.05075678e+13 -5.18373036e+13 -5.30439438e+13
 -4.91575473e+13 -5.10557691e+13 -5.31241291e+13 -4.70522335e+13
 -5.03063244e+13 -5.26331683e+13 -4.62744733e+13 -4.87831928e+13
 -5.23264321e+13 -4.60028026e+13 -4.84594336e+13 -5.19353178e+13
 -4.52447278e+13 -4.74614058e+13 -5.10026202e+13 -4.42556337e+13
 -4.56556258e+13 -4.85552947e+13 -4.37464074e+13 -4.58113092e+13
 -4.87657250e+13 -4.39283797e+13 -4.55394867e+13 -4.86181294e+13
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan -4.28536639e+13
 -4.32047278e+13 -4.45973674e+13 -4.25019316e+13 -4.29277891e+13
 -4.50680507e+13 -4.28936807e+13 -4.30180789e+13 -4.46681724e+13
 -4.28474548e+13 -4.28394427e+13 -4.36243610e+13 -4.30411114e+13
 -4.30141488e+13 -4.41456023e+13 -4.25675247e+13 -4.26310421e+13
 -4.36608730e+13 -4.33360383e+13 -4.30266177e+13 -4.40593784e+13
 -4.27087620e+13 -4.28177350e+13 -4.37171710e+13 -4.25562767e+13
 -4.28531877e+13 -4.34221248e+13             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan -4.50066309e+13 -4.70129515e+13 -5.08115191e+13
 -4.41480731e+13 -4.59493420e+13 -5.00605262e+13 -4.41820558e+13
 -4.55949035e+13 -4.97013329e+13 -4.29955372e+13 -4.47476561e+13
 -4.82274694e+13 -4.31149875e+13 -4.45299825e+13 -4.80516247e+13
 -4.31344077e+13 -4.42373537e+13 -4.76046228e+13 -4.25800507e+13
 -4.32626310e+13 -4.64979963e+13 -4.29717577e+13 -4.38130613e+13
 -4.60399642e+13 -4.28354903e+13 -4.40186378e+13 -4.61618380e+13
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan -5.27024437e+13
 -5.30562289e+13 -5.25652910e+13 -5.12098926e+13 -5.36222987e+13
 -5.36961994e+13 -5.06999855e+13 -5.29667457e+13 -5.50261313e+13
 -4.94870524e+13 -5.19303729e+13 -5.34523954e+13 -4.88720734e+13
 -5.13670880e+13 -5.38882752e+13 -4.78681281e+13 -5.03949453e+13
 -5.40617328e+13 -4.61242229e+13 -4.85095279e+13 -5.18073513e+13
 -4.58129683e+13 -4.84708880e+13 -5.20663040e+13 -4.61480479e+13
 -4.83144953e+13 -5.17270213e+13]
  warnings.warn(

Best parameters for GradientBoostingRegressor: {'learning_rate': 0.1, 'max_depth': 5, 'max_features': 'sqrt', 'min_samples_leaf': 2, 'min_samples_split': 5, 'n_estimators': 100}
Training DecisionTreeRegressor...
Fitting 5 folds for each of 54 candidates, totalling 270 fits

c:\Users\Mai Xuan Truong\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\model_selection\_validation.py:547: FitFailedWarning:
135 fits failed out of a total of 270.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
135 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Users\Mai Xuan Truong\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\model_selection\_validation.py", line 895, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Users\Mai Xuan Truong\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py", line 1467, in wrapper
    estimator._validate_params()
  File "c:\Users\Mai Xuan Truong\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "c:\Users\Mai Xuan Truong\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of DecisionTreeRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
c:\Users\Mai Xuan Truong\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\model_selection\_search.py:1051: UserWarning: One or more of the test scores are non-finite: [            nan             nan             nan             nan
             nan             nan             nan             nan
             nan -5.83758969e+13 -5.47145612e+13 -5.28541394e+13
 -4.90819743e+13 -4.87785421e+13 -4.78072729e+13 -5.03710159e+13
 -5.16479629e+13 -5.24686281e+13             nan             nan
             nan             nan             nan             nan
             nan             nan             nan -5.61620645e+13
 -5.10850506e+13 -5.17195900e+13 -5.09048184e+13 -5.30343224e+13
 -5.21723758e+13 -4.92756045e+13 -5.13738166e+13 -5.34043736e+13
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan -5.90492036e+13 -5.65415017e+13 -5.40414089e+13
 -5.28081330e+13 -5.30248672e+13 -4.98586115e+13 -5.14578358e+13
 -4.88087042e+13 -4.99474174e+13]
  warnings.warn(
c:\Users\Mai Xuan Truong\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.638e+14, tolerance: 1.499e+13
  model = cd_fast.enet_coordinate_descent(
c:\Users\Mai Xuan Truong\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.220e+14, tolerance: 1.462e+13
  model = cd_fast.enet_coordinate_descent(

Best parameters for DecisionTreeRegressor: {'max_depth': None, 'max_features': 'sqrt', 'min_samples_leaf': 2, 'min_samples_split': 10}
Training Ridge...
Fitting 5 folds for each of 3 candidates, totalling 15 fits
Best parameters for Ridge: {'alpha': 10.0}
Training Lasso...
Fitting 5 folds for each of 3 candidates, totalling 15 fits

c:\Users\Mai Xuan Truong\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.638e+14, tolerance: 1.499e+13
  model = cd_fast.enet_coordinate_descent(
c:\Users\Mai Xuan Truong\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.220e+14, tolerance: 1.462e+13
  model = cd_fast.enet_coordinate_descent(
c:\Users\Mai Xuan Truong\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.638e+14, tolerance: 1.499e+13
  model = cd_fast.enet_coordinate_descent(
c:\Users\Mai Xuan Truong\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.221e+14, tolerance: 1.462e+13
  model = cd_fast.enet_coordinate_descent(

Best parameters for Lasso: {'alpha': 10.0}
Training LinearRegression...
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Best parameters for LinearRegression: {}
Training SVR...
Fitting 5 folds for each of 72 candidates, totalling 360 fits
Best parameters for SVR: {'C': 10.0, 'epsilon': 0.5, 'gamma': 'scale', 'kernel': 'linear'}
All best parameters have been saved to 'best_params.json'.

In [20]:
from sklearn.model_selection import KFold
# Đọc file JSON
with open('best_params_update.json', 'r') as fp:
    best_params = json.load(fp)

# Tạo dictionary của các mô hình đã cấu hình
models_configured = {
    'RandomForestRegressor': RandomForestRegressor(**best_params['RandomForestRegressor']),
    'XGBRegressor': xgb.XGBRegressor(**best_params['XGBRegressor']),
    'GradientBoostingRegressor': GradientBoostingRegressor(**best_params['GradientBoostingRegressor']),
    'DecisionTreeRegressor': DecisionTreeRegressor(**best_params['DecisionTreeRegressor']),
    'Ridge': Ridge(**best_params['Ridge']),
    'Lasso': Lasso(**best_params['Lasso']),
    'LinearRegression': LinearRegression(**best_params['LinearRegression']),
    'SVR': SVR(**best_params['SVR'])
}

# Khởi tạo KFold
kf = KFold(n_splits=5, shuffle=True, random_state=42)

# Đánh giá mỗi mô hình sử dụng cross-validation và lưu kết quả
results = {}
for name, model in models_configured.items():
    scores = cross_val_score(model, X, y, cv=kf, scoring='r2')
    results[name] = np.mean(scores)

# Sắp xếp kết quả theo R2 Score giảm dần và in ra
sorted_results = sorted(results.items(), key=lambda x: x[1], reverse=True)
for model_name, score in sorted_results:
    print(f"{model_name}: R2 Score = {score}")

c:\Users\Mai Xuan Truong\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.638e+14, tolerance: 1.499e+13
  model = cd_fast.enet_coordinate_descent(
c:\Users\Mai Xuan Truong\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.221e+14, tolerance: 1.462e+13
  model = cd_fast.enet_coordinate_descent(

GradientBoostingRegressor: R2 Score = 0.5458736056087574
XGBRegressor: R2 Score = 0.544355841661696
RandomForestRegressor: R2 Score = 0.5312025708143766
DecisionTreeRegressor: R2 Score = 0.4718981978774785
Ridge: R2 Score = 0.45849374785501035
LinearRegression: R2 Score = 0.4565989066475605
Lasso: R2 Score = 0.45658718170050855
SVR: R2 Score = -0.02578988343615669